pandas==3.0.3
numpy==2.4.6

openpyxl==3.1.5

oct2py==6.0.3
matpower==8.1.0.2.3.0

itables==2.8.0

pre-commit==4.6.0
ruff==0.15.15
setuptools==82.0.1

pytest==9.0.3
pytest-cov==7.1.0
pytest-xdist==3.8.0
